@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
body{
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    background: linear-gradient(45deg,rgb(156, 106, 106),rgb(92, 139, 92),rgb(83, 122, 122),rgb(146, 107, 100))
}
.d-grid {
    display: grid!important;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.custom{
    position: relative;
}
.custom::after{
    position: absolute;
    height: 100%;
    content: "";
    width: 100%;
    top: 0%;
    left: 0%;
    background: linear-gradient(45deg,rgb(44, 44, 44),rgba(0, 0, 0, 0.342));
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0);
  outline: 0 none;
}
.color-yellow{
    background: rgb(25, 122, 69);
    transition: .5s;
    color: rgb(212, 206, 206);
}
.color-pink{
    background: rgb(21, 102, 114);
    transition: .5s;
    color: rgb(190, 188, 188);
}
.height{
    height: 10rem;
    overflow: hidden;
}
#bg-dark{
    background: rgb(27, 27, 27);
}
.bgWhite{
    /* box-shadow: 5px 5px 5px black; */
    color: black;
    border-radius: .6rem;
}
.bg{
    background: rgb(41, 41, 41);
    color: white;
    border-radius: .6rem;
}